#main-nav {
    background: coral;
    height: 50px;
    margin-bottom: 20px;
    vertical-align: middle;
    ul {
        display: inline-block;
        li {
            display: block;
            margin-right: 10px;
            height: 15px;
            float: left;
        }
        .active {
            // background: yellow;
            // background: repeating-radial-gradient(black, black 5px, white 5px, white 10px);
            background: radial-gradient(red, yellow, rgb(30, 144, 255));
        }
        a {
            text-decoration: none;
            color: aqua;
            &:hover {
                background: #cdf;
            }
        }
    }
    &:after {
        clear: both;
        content: " ";
        display: table;
    }
    &:before {
        clear: both;
        content: " ";
        display: table;
    }
}